.getData{
  text-align: center;
}

.getd{
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  height: 200px;
  width: 200px;

}
.addandedit{
  display: flex;
}
.getr{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.editbtn{
  margin: 10px;
  background-color: lightcoral;
  border-radius: 10px;
}
.getbtn{
  margin: 10px;
  background-color: lightcoral;
  border-radius: 10px;
}

.inputadd{
  display: flex;
  flex-direction: column;
 
}

input{
  height: 40px;
  margin: 10px;
  width: 300px;
}
.btnadd{
  margin: 10px;
  background-color: lightgreen;
  border-radius: 10px;
  width: 200px;
   margin-left: 60px;
}

.profile{
  object-fit: cover;
}

.cards{
 
  
  text-align: center;
  margin: 10px;
  width: 300px;
}

.studcard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}
.overall{
  align-items: center;
}
.inputField{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.btninput{
  width: 150px;
  margin-left: 60px;
}