.getData{
  text-align: center;
}

.getd{
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  height: 200px;
  width: 200px;

}
.getr{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.getbtn{
  margin: 10px;
  background-color: lightcoral;
  border-radius: 10px;
}

.inputadd{
  display: flex;
  flex-direction: column;
 
}

input{
  height: 40px;
  margin: 10px;
  width: 300px;
}
.btnadd{
  margin: 10px;
  background-color: lightgreen;
  border-radius: 10px;
  width: 200px;
   margin-left: 60px;
}